{% extends 'layout_admin.html' %}
{% block content %}

    <div class="content-section">
    {#
{% if form.errors %}
{{ form.errors }}
{% endif %}
    #}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.title.label(class="form-control-label") }}
                            {% if form.title.errors %}
                                {{ form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.title(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.value.label(class="form-control-label") }}
                    {% if form.value.errors %}
                        {{ form.value(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.value.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.value(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.site_var.label(class="form-control-label") }}
                            {% if form.site_var.errors %}
                                {{ form.site_var(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.site_var.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.site_var(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-outline-info btn-sm" href="{{url_for('content.content_list')}}" role="button">Отменить</a>
            </div>
        </form>

    </div>

{% endblock content %}