{% extends 'layout_admin.html' %}
{% block content %}

<h1>Группы флагов</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Группа флагов</th>
				<th scope="col">Порядковый номер</th>
				<th scope="col">Опубликовано</th>
				<th scope="col">Всего категорий</th>
				<th scope="col">Всего флагов</th>
                <th scope="col">Список флагов</th>
				<th scope="col"></th>
				<th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in flag_items %}
                
                <tr>
                    <td scope="row">{{ item.id }}</td>
                    <td>{{ item.title }}</td>
					<td>{{ item.order_id }}</td>
					<td>{{ item.active }}</td>
					<td>{{ item.categories |length }}</td>
					<td>{{ item.flags |length }}</td>
					<td><a href="{{ url_for('flag.flag_list', flag_group_id=item.id) }}" class="badge badge-secondary">Открыть</a></td>
                    <td><a href="{{ url_for('groupflag.groupflag_edit', item_id=item.id) }}" class="badge badge-secondary">Изменить</a></td>
                    {% if current_user.status == 'admin' %}
                        <td>
                            <button type="button" class="badge badge-danger" data-toggle="modal" data-target="#deleteModal" data-item-id={{ item.id }}>Удалить</button>
                        </td>
                    {% endif %}
                

                </tr>

                

            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{url_for('groupflag.groupflag_new')}}" role="button">Создать новый флаг</a>

	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">Удалить группу флагов? Точно?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	   
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        	<form id="deleteForm" action="" method="POST">
	        	<input class="btn btn-danger" type="submit" value="Удалить">
	        </form>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
		


		//triggered when modal is about to be shown
		$('#deleteModal').on('show.bs.modal', function(e) {
			
	    //get data-id attribute of the clicked element
	    var itemId = $(e.relatedTarget).data('item-id');
	    

	    $('#deleteForm').attr('action', '/flag/group/'+itemId+'/delete');

		});

	</script>

{% endblock content %}