{% extends 'layout.html' %}
{% block content %}


<section id="page-content" class="page-wrapper">

            <!-- This is single section start-->
            <div class="address-section mb-80">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <h1 class="mt-30">О нашем магазине и шоу-руме</h1>
	
							<p>Наш магазин специализируется на продаже мозаики для отделки. У нас есть практически все возможные виды мозаики. В первую очередь конечно мозаика из натурального мрамора и стекла. Но также есть мозаика из керамики, из металла, из натуральной ракушки и смеси из всех этих материалов.</p>
							<p>С 2012 года мы занимаемся поставками качественной мозаики из Китая под брендом <a href="{{url_for('main.mosaic_selected',select_category='brand',selection='DAO')}}">DAO</a>. С тех пор мы значительно увеличили ассортимент и количество товара на складе в Москве. Но конечно для вашего удобства в интернет-магазине представлены и другие марки мозаики.</p>
							<p>Все виды мозаики есть на нашем складе в виде образцов. Перед покупкой стоит заехать и посмотреть так как на фото мозаика может немного отличаться от реальности. А если вы остановитесь на мозаике DAO, то ее можно будет сразу забрать. Шоу-рум расположен там же где и склад.</p>
							<p>Наш магазин удобно расположен в районе Крылаское.</p>
							<p>Подробнее о том как к нам добраться смотрите в разделе <a href="{{url_for('main.contacts')}}">контакты</a>.</p>
							
							<div class='text-center'>
							<img class='shop-photo' src="{{ url_for('static',filename='shop-photo-1.jpg') }}" alt='фото магазина'>
							</div>

				            <br>
				            <br>
							
				            <p>ИП Краев И.А.</br>
				            ИНН 772616277173</br>
				            ОГРНИП 316774600078139</br>
				            г. Москва, Варшавское ш., 152-8-114</p>


				        	

						</div>
                        <div class="col-md-3 col-xs-12">
                            
                          
                    
                        {# {% include 'side-menu.html' %} #}
                            
                        </div>
                    </div>
                 
                </div>
            </div>
            <!-- This is single section end-->
        </section>
{% endblock content %}


