{% extends 'layout.html' %}
{% block content %}

<section id="page-content" class="page-wrapper">

            <!-- This is single section start-->
            <div class="address-section mb-80">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <h1 class="mt-30">Доставка</h1>
                            
                            <p>Существует несколько способов получить заказанную мозаику:</p>
                            
                            <br>
                            <p class='header-3'>1. Самостоятельное получение мозаики на складе</p>
                            <p>Стоимость - бесплатно.</p>
							<p>Сроки: зависят от вида мозаики. Либо в день заказа, либо в течение 3-4 дней с даты заказа.</p>
                            <br>
							<p class='header-3'>2. Доставка в пределах МКАД</p>
                            <p>Стоимость - 1000р.</p>
                            <p>При заказе от &#8381 30 000 бесплатно</p>
							<p>Сроки: 3-4 дня после получения заказа.</p>
							<br>
                            <p class='header-3'>3. Доставка в Подмосковье</p>
                            <p>Стоимость - Зависит от места доставки.Нужно уточнить у нашего менеджера. </p>
                            <p>Сроки: 3-4 дня после получения заказа.</p>
                            <br>
                            <p class='header-3'>3. Доставка в другие города через транспортную компанию</p>
                            <p>Стоимость доставки до транспортной компании - 500р. Дополнительно при получении оплачивается стоимость доставки до вашего города.</p>
                            <p>Сроки: 3-4 дня после получения заказа.</p>



                        

                            
                        </div>
                        <div class="col-md-3 col-xs-12">
                            
                          
                    
                        {# {% include 'side-menu.html' %} #}
                            
                        </div>
                    </div>
                 
                </div>
            </div>
            <!-- This is single section end-->
        </section>


{% endblock content %}