{% extends 'layout.html' %}
{% block content %}

<section id="page-content" class="page-wrapper">

            <div class="alerts-area mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

					<div class="alert alert-success"><strong>Ваш заказ принят!</strong><br> Мы свяжемся с вами в самое ближайшее время для подтверждения и уточнения.<br> <strong>Спасибо!</strong> </div>
				</div>
            </div>
        </div>
    </div>               
</section>

{% endblock content %}
